nav {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.568);
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.identite{
  width: 170px;
}

.Liens {
  display: flex;
  vertical-align: middle;
}

.Central {
  text-align: justify;
}


.Lien {
  padding: 10px;
  color: #f2f2f2;
}


footer {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.568);
  height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

div.WorkContainer {
  width:100%;
  overflow:auto;
}
/* 
div.WorkContainer div {
  width:33%;  
  float:left;
} */

img.WorkImage{
  width: 150px;
}

.ImgEntreprise{
  width:33%; 
  float:left;
}

/* .TxtEntreprise{
  width:80%; 
  /* float:left; 
} */

